<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Navi App {% comment %} default name for title {% endcomment %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <nav class="navigation-bar">
        <a href="{% url 'chat:conversation_list' %}">
            <span role="img" aria-lable="Chat">💬</span>
        </a>
        <a href="/shop">
            <span role="img" aria-lable="Shop">🛒</span>
        </a>
        <a href="/settings">
            <span role="img" aria-lable="Settings">⚙️</span>
        </a>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button class="logout-button" aria-lable="User Logout" title="Logout">🚪</button>
        </form>
    </nav>
</body>
</html>