<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Django App <!-- default name for title -->
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <nav class="navigation-bar">
        <a href="{% url 'chat:conversation_list' %}">💬</a>
        <a href="/shop">🛒</a>
        <a href="/settings">⚙️</a>
    </nav>
</body>
</html>